{% extends "base.html" %}
{% block content %}
    <h1>identify user</h1>
    <h3 id="msg"></h3>
    <p><input id="select_pic" type="file" ></p>
    <button id="post" class="ui teal right labeled icon button">
      <i class="checkmark icon"></i>识别
    </button>
    <div id="imgs">
      <img id="img" style="max-width:100%;">
    </div>
  <script>
  var base64="";
  $("#select_pic").change(function () {
      run(this, function (data) {
          $('#img').attr('src', data);
          base64=data.split(",")[1];
      });
  });

  $("#post").click(function () {
      $('#msg').text("正在识别。。。");
      $('#post').prop("disabled", true);
      $.ajax({
          url: "/api/face/identify_user",
          type: "post",
          dataType: "json",
          data: {
              "img_base64": base64
          },
          async: true,
          success: function (json) {
            msg="未找到该用户";
            if(json.hasOwnProperty('result')){
              if(json.result.hasOwnProperty('0')){
                if(json.result[0].hasOwnProperty('scores')){
                  if(json.result[0].scores.hasOwnProperty('0')){
                    if(json.result[0].scores[0]>80){
                      user=json.result[0].user_info;
                      uid=json.result[0].uid;
                      msg="您好，"+user;
                    }
                  }
                }
              }
            }
            $('#msg').text(msg);
            $('#post').prop("disabled", false);
          },
          error: function (json) {
              console.dir(json);
              $('#post').prop("disabled", false);
          }
      });
  });

  function run(input_file, get_data) {
      /*input_file：文件按钮对象*/
      /*get_data: 转换成功后执行的方法*/
      if (typeof (FileReader) === 'undefined') {
      } else {
          try {
              /*图片转Base64 核心代码*/
              var file = input_file.files[0];
              //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
              if (!/image\/\w+/.test(file.type)) {
                  return false;
              }
              var reader = new FileReader();
              reader.onload = function () {
                  get_data(this.result);
              }
              reader.readAsDataURL(file);
          } catch (e) {
          }
      }
  }
  </script>
{% endblock %}
