{% extends "base.html" %}
{% block content %}
    <style media="screen">
      body{
        margin: 0;
        padding: 0;
      }
      video, canvas, #face_area ,#check_button{
          position: absolute;
          left: 0;
          right: 0;
      }
      video{
        z-index: -999
      }
      #face_area{
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        z-index: 999;
      }
      #check_button{
        z-index: 9999;
        width: 70%;
        margin: 20px auto;
        height: 50px;
        font-size: 30px;
      }
    </style>
</head>
<body>
    <h1>刷脸登录</h1>
    <h3 id="msg"></h3>
      <video id="video" preload autoplay loop muted></video>
      <img id="face_area" src="{{ url_for('static', filename='face.png') }}" alt="">
      <button id="check_button" type="button" name="check_button">让头像在以下区域，然后猛击此按钮！</button>
      <canvas id="canvas_rect"></canvas>
      <canvas id="canvas" style="display:none"></canvas>
    <div id="imgs">
      <img id="img" style="display:none">
    </div>
    <script>
      window.onload = function() {


        //得到网页大小，暂时没用上。
        var width=$(window).width();
        var height=$(window).height();

        //video
        var video = document.getElementById('video');
        //canvas
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');


        console.log(width,height);

        $('#check_button').click(function(){
          console.log('checking...');
          //
          $('#msg').text("正在识别。。。");
          canvas.width=video.width;
          canvas.height=video.height;
          context.drawImage(video, 0, 0, video.width, video.height);
          d=canvas.toDataURL("image/png");
          var base64img=d.split(",")[1];
          img.src=d;

          $('#check_button').prop("disabled", true);
          $.ajax({
              url: "/api/face/identify_user",
              type: "post",
              dataType: "json",
              data: {
                  "img_base64": base64img,
              },
              async: true,
              success: function (json) {
                msg="未找到该用户";
                if(json.hasOwnProperty('result')){
                  if(json.result.hasOwnProperty('0')){
                    if(json.result[0].hasOwnProperty('scores')){
                      if(json.result[0].scores.hasOwnProperty('0')){
                        if(json.result[0].scores[0]>80){
                          user=json.result[0].user_info;
                          uid=json.result[0].uid;
                          msg="您好，"+user;
                          window.location.href="/"
                        }
                      }
                    }
                  }
                }
                $('#msg').text(msg);
                $('#check_button').prop("disabled", false);
              },
              error: function (json) {
                  console.dir(json);
                  $('#check_button').prop("disabled", false);
              }
          });
          //
        });
        //开启视频

        var constraints = { audio: true, video:true }

        function successCallback(stream) {
          //video.src = window.URL.createObjectURL(stream);
          video.srcObject = stream
          console.log("haha")
          video.onloadedmetadata = function(e) {
            video.width=$('#face_area').width();
            video.height=$('#face_area').height();
            video.play();
          }
        };

        function errorCallback(error){
          console.log("error: ", error);
        };
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        if (navigator.getUserMedia) {
          console.log('开始摄像头');
          navigator.getUserMedia(constraints, successCallback, errorCallback);

        } else {
          //浏览器不支持哈~
          console.log('浏览器不支持哈');
        }
      }
        /*
          navigator.getUserMedia(
            { audio: true, video: { width: width, height: height} },
               function(stream) {
                  video.src = window.URL.createObjectURL(stream);
                  video.onloadedmetadata = function(e) {
                    video.play();
                    //取得视频高度和宽度（非dom元素）
                    var width=video.videoWidth;
                    var height=video.videoHeight;
                    //设置画布宽度高度和视频一致
                    $('#canvas_rect').attr('width',width);
                    $('#canvas_rect').attr('height',height);
                  };
               },
               function(err) {
                  console.log("The following error occurred: " + err.name);
               }
           );
          //
        } else {
          console.log("getUserMedia not supported");
        }
      }


                   var interval_id=null;
                   var loop=true;//默认设置成可以循环
                   function checkface(){
                     $('#video').faceDetection({
                          complete: function (faces) {
                            face=faces[0];
                            if(face!=undefined){
                              //console.log(face);

                              //清除画布
                              context_rect.clearRect(0,0,width,height);
                              context.clearRect(0,0,width,height);

                              //得到 脸部的坐标和大小
                              x=face.x;
                              y=face.y;
                              w=face.width;
                              h=face.height;

                              //设置颜色粗细等
                              context_rect.strokeStyle = '#ff0';
                              context_rect.lineWidth="6";
                              context_rect.font = '11px Helvetica';
                              context_rect.fillStyle = "#fff";
                              //绘制框选
                              context_rect.strokeRect(x,y,w,h);

                              //按照脸的大小设置画布大小
                              $('#canvas').attr('width',w);
                              $('#canvas').attr('height',h);
                              //把视频中的脸载入进来

                              context.drawImage(video,x,y,w,h,0,0,w,h);
                              //得到 base 64 的编码图像
                              base64img=canvas.toDataURL("image/png").split(",")[1];
                              //调用API，得到结果。
                              /*
                              $('#msg').text("正在识别。。。");
                              $('#post').prop("disabled", true);
                              $.ajax({
                                  url: "/api/face/identify_user",
                                  type: "post",
                                  dataType: "json",
                                  data: {
                                      "img_base64": base64img,
                                  },
                                  async: true,
                                  success: function (json) {
                                    msg="未找到该用户";
                                    if(json.hasOwnProperty('result')){
                                      if(json.result.hasOwnProperty('0')){
                                        if(json.result[0].hasOwnProperty('scores')){
                                          if(json.result[0].scores.hasOwnProperty('0')){
                                            if(json.result[0].scores[0]>80){
                                              user=json.result[0].user_info;
                                              uid=json.result[0].uid;
                                              msg="您好，"+user;
                                              window.location.href="/"
                                            }
                                          }
                                        }
                                      }
                                    }
                                    $('#msg').text(msg);
                                    $('#post').prop("disabled", false);
                                  },
                                  error: function (json) {
                                      console.dir(json);
                                      $('#post').prop("disabled", false);
                                  }
                              });
                            }
                          }
                      });
                   }
                     interval_id=setInterval(function(){
                       //base64img=canvas.toDataURL("image/png");
                       //context.drawImage(video, 0, 0, width, height);
                       //img.src=base64img;
                      checkface();
                     },10);
                   //context.drawImage(video, 0, 0, width, height);
                   */
  </script>
{% endblock %}
